body {
    width: 100%;
    height: 100%;
    margin: auto;
    border-top: 2px solid #ff792c;
}
body .topLane{
    background: #005ea5;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: auto;
}

span {
    max-width: 650px;
}

#content {
    max-width: 650px;
    margin: auto;
}

#header .title {
    border-left: 3px solid lightseagreen;
    padding-left: 5px;
    display: inline;
}

#header .crown{
    width: 20px;
    height: 20px;
}

#content div,
#content img {
    margin: 10px 0 10px 0;
}

#content input{
    display: block;
}

#content .insuranceNumber {
    width: 100px;
}

#content .renewalNumber {
    width: 150px;
}

#content .renewalNumber {
    width: 150px;
}

#content .next {
    background: green;
    color: white;
    outline: none;
    border: none;
    margin: 10px 0 20px 0;
    box-shadow: 2px 1px 5px #888888;
    border-radius: 2px;
}

#content .showInsuranceText{
    margin-right: 25px;
}

#content .showInsuranceLink{
    color: #5593c2;
    display: inline-block;
}

#content .helpLink{
    color: #8e9294;
}

#footer{
    border-top: 3px solid #d4cdcd;
    background: #dee0e2;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
}

#footer .navLinks a,
#footer .rights a{
    color: #8e9294;
}

#footer .navLinks,
#footer .rights{
    max-width: 70%;
    padding-left: 30px;
    margin: 10px;
}

#footer .copyRights{
    max-width: 20%;
    position: absolute;
    right: 30px;
    bottom: 40px;
}
#footer .oglImg img{
    height: 15px;
    margin-top: -7px;
    margin-right: 5px;
}
#footer .copyRights span,
#footer .copyRights img{
    display:block;
    color: #8e9294;
}

@media screen and (max-width: 480px) {
    #footer {
        padding-top: 10px;
    }
    #footer .navLinks,
    #footer .rights{
        padding: 0;
        margin: 5px 0 5px 5px;
        max-width: 100%;
    }
    #footer img{
        margin: auto;
    }
    #footer .copyRights{
        max-width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
        text-align: center;
    }
}